.item {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid $gray;
  border-right: 1px solid $gray;
  padding: 10px 0;
  padding-right: 15px;
  height: 56px;
}

.selected {
  background-color: $gray;
}

.item__text {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  margin-bottom: 5px;
}

.item__repo {}

@media (max-width: 460px) {

  .item__note {
    padding: 7px;
  }

  .note__text {
    font-size: 11px;
    font-weight: bolder;
  }

  .note__date {
    font-size: 11px;
  }
}