.list__items {
  width: 30%;
  height: 505px;
  overflow-y: scroll;
  border-right: 1px solid $gray;
  margin-left: 10px;
}

.list__colum {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px 0;
  margin-right: 10px;
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background-color: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background-color: #c8c8c8;
  border-radius: 4px;
  border: 2px solid #f1f1f1;
}

@media (max-width: 460px) {
  .list__item {
    height: 471px;
  }
}